/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.htaccess
/error_log
.DS_Store
.idea/
.well-known
updates/
composer.lock
*.lock
resources/lang/en.json
.env
*.zip
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
/public/uploads.zip
/public/sitemap.xml
/public/robots.txt
/public/sitemaps
/public/pathao_bearer_token.json
*.htaccess
*.sql
/data.ms
/public/.htaccess
data.ms
meilisearch
**/caddy
frankenphp
frankenphp-worker.php
modules_statuses.json
videos-old
storage/*

.env
/storage
/stgg.glowaro.com.tar.gz
/vendor
/public/uploads
/node_modules
