
.note-editable .image-text {
    margin-block: 60px;
}
.note-editable .image-text .text-side p,
.note-editable .image-text .text-side h3 {
    padding-left: 20px;
}
.note-editable .image-text .image-side {
    overflow: hidden;
}
.note-editable .image-text .image-side img {
    scale: 1;
    transition: scale 0.3s linear;
}
.note-editable .image-text .image-side img:hover {
    scale: 1.2;
}
.note-editable .image-text.text-section-left {
    flex-direction: row-reverse;
}
.note-editable .image-text.text-section-left .text-side p,
.note-editable .image-text.text-section-left .text-side h3 {
    padding-right: 20px;
    padding-left: 0;
}
.note-editable .management {
    margin-block: 3rem;
}
.note-editable .management .member .management-social {
    gap: 16px;
}
.note-editable .management .member .management-social a {
    background-color: #f2f4f7;
    padding: 9px;
    border-radius: 50%;
}

.dropdown-item.btn-item.active,
.dropdown-item.btn-item:hover,
.dropdown-item.btn-item:active {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #f8f9fa !important;
}
